body{
    background-color:#f5af2d
}
#logo{

display: block;    
width: 8%;
margin: 10px auto;
}
#pay_div{
    background-color: white;
    width: 30%;
    height: 100px;
    margin: auto;
    border: 5px solid white;
    border-radius: 15px;
}
#donut{
    text-align:center;
    font-size: 25px;
    padding: 5px 0 15px 0;
    margin:0px;
}
#pay{
    background-color: #2cc670;
    border-color:#2cc670 ;
    color:white;
    margin-left: 1%;
}
#card{
    margin-left: 1%;
    width: 40%;
}
#pin{
    margin-left: 1%;
    width: 40%;
}